.top-orange {
  background-color: #FF7F50;
  color: white;
}

.orage-head {
  color: #FF7F50;
  font-size: 60px;
}

.margin-bottom-me {
  margin-bottom: 10px;
}

td:first-child {
  width: 250px;
  max-width: 100px;
}
