<div ng-controller='CheckoutController'>
 <div class="container">
   <div class="row">
     <h3 style="display: inline-block">My Shopping Bag</h3>
     <h3 class="pull-right">Order Total: 'total goes here'</h3>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Sub-total</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <!-- <tr ng-repeat='tea in teas | filter:search'> -->
        <tr>
          <td>
            <p>Tea Name</p>
            <img ng-src="{{tea.imageUrl}}" alt='tea.name'/>
            <p><b>Caffeine Scale:</b></p>
            <p><b>Ingredients:</b></p>
            <p><b>Rating:</b></p>
          </td>
          <td>
            <p>number</p>
          </td>
          <td>
            <p>quantity times cost</p>
          </td>
          <td>
            <input type="button" value="Edit" class="btn btn-warning">
            <input type="button" value="Delete" class="btn btn-danger">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
